@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@100&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;      
}
body{
    font-family: 'Lato', sans-serif;
}
.outer-box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient( to top left,rgb(101, 206, 247),rgb(23, 87, 112));
}
.inner-box{
    width: 400px;
    margin: 0 auto;
    position:relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 40px;
    /*background-color: aliceblue;*/
    background: linear-gradient(to top left,#ffffffff,#ffffff33);
    backdrop-filter:blur(8px);
    border-radius:8px;
    box-shadow: 5px 5px 5px rgb(27, 130, 170);
    z-index:2; 
}
.signup-header h1{
    font-size:2.5rem;
    color:black;
}
.signup-header p{
    font-size: 0.9rem;
    color:gray;
}
.signup-body{
    margin: 20px 0;
}
.signup-body p{
    margin: 10px 0;
}
.signup-body p label{
    display:block;
    font-weight:bold;
}
.signup-body p input{
    width:100%;
    padding:10px;
    border: 2px solid lightgray;
    border-radius:4px;
    font-size:1rem;
    margin-top: 4px;
}
.signup-body p input[type="submit"] {
    background-color:rgb(27, 130, 170) ;
    border:none;
    color:white;
    cursor: pointer;
}
.signup-body p input[type="submit"]:hover {
    background-color: rgb(10, 62, 136);
}
.signup-footer p{
    color:grey;
    text-align:center;
}
.signup-footer p a{
    color:rgb(27, 130, 170);
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right,#ffffff33,#ffffffff);
    position: absolute;
}
.c1{
    top: 100px;
    left: 40px;

}
.c2{
    bottom:200px;
    right:30px;
}